
 header{
   background-color: #f58634;
 }

 h1{
   color:#81b214;
   text-align:center;
 }

 nav ul li a {
   color: #ffcc29;
  
 }

nav ul li {
display: inline;
padding: 60px;
padding-left: 0px;
margin-left: 0px;
}

 nav ul li a{
   text-decoration:none;
 }


<<<<<<< HEAD
#Int {
=======
article p:nth-child(1) {
>>>>>>> 89e94eac80f8d2d6ca84c436302ee5e2a8f10304
color: #a799b7;
background-color: #1b1a17;

}

.bodyP{
  font-size: 15px;
  color:#a799b7;
  background: #fb3640;
}

footer{
  text-align: center;
}